@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/concord';


.select,
.input,
.textarea,
.ig-input,
.ig-select {
	background-color: var(--color-surface-50-950);
	color: var(--color-surface-950-50);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}