@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';

@import '@skeletonlabs/skeleton/themes/concord';











@import '@skeletonlabs/skeleton-svelte';